<div>List of Kites</div>
<div>
    <h2>Here is the list of Kites in the Database</h2>

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Kites</div>

        <!-- Table -->
        <table class="table">
            <tr>
                <th>#</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Primary Color</th>
                <th>Secondary Color</th>
                <th>Size</th>
            </tr>
            {{#each kitelist}}
                <tr>
                    <td>{{@index}}</td>
                    <td>{{brand}}</td>
                    <td>{{model}}</td>
                    <td>{{color}}</td>
                    <td>{{secondary-color}}</td>
                    <td>{{size}}</td>
                    <td>
                        <img src="{{path}}"/>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>

</div>